<div class="options-header">
    <div>value options</div>
    <mat-divider></mat-divider>
</div>
<div class="options-content">
    <mat-form-field>
        <mat-label>Min</mat-label>
        <input matInput placeholder="0" value="0" (change)="minInput($event)">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Max</mat-label>
        <input matInput placeholder="10" value="10" (change)="maxInput($event)">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Selected cell</mat-label>
        <input matInput placeholder="0" value="0" (change)="selectedInput(selectedCellValue.value)" #selectedCellValue>
    </mat-form-field>
</div>